asttokens 
backcall 
certifi 
charset-normalizer==3.0.1
contourpy==1.0.7
cycler==0.11.0
decorator 
executing 
#faiss==1.7.3
fonttools==4.38.0
-e git+https://tumble-weed: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@github.com/tumble-weed/pytorch-grad-cam@cc3f7f344290a90248579f1773cff70e7d0a1d09#egg=grad_cam
idna==3.4
ipython 
jedi 
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.3
matplotlib-inline 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
numpy 
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.7.0.68
packaging==23.0
parso 
pexpect 
pickleshare 
Pillow==9.4.0
prompt-toolkit 
ptyprocess 
pure-eval 
Pygments 
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.28.2
scikit-learn==1.2.1
scipy==1.10.0
six 
stack-data 
threadpoolctl==3.1.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
traitlets 
ttach==0.0.3
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth 
scikit-image
captum
kornia==0.6.9
termcolor
ipdb
